@import '../../Styles/scss/Master';

.cards {
    background: $color-grey;
    position: relative;
}

.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        flex-direction: row;
    }

    @include laptop {
        width: 900px;
        margin: 0 auto;
    }

    @include desktop {
        width: 1100px;
    }

    & > div:first-of-type {
        margin-top: 50px;
        @include tablet {
            margin-top: 30px;
        }
        @include laptop {
            margin-top: 60px;
        }
    }

    & > div:last-of-type {
        margin-bottom: 100px;
    }

    &__card {
        width: 280px;
        border-radius: 20px;
        background: $color-white;
        box-shadow: 0px 2px 10px -3px #8f8f8f;
        margin: 30px auto;

        @include tablet {
            height: 400px;
            width: 220px;;
        }

        @include laptop {
            height: 400px;
            width: 260px;;
            margin-top: 60px;
        }

        &__title {
            text-align: center;
            color: $color-black;
        }

        &__list {
            list-style: none;
            color: $color-black;

            a {
                text-decoration: none;
                color: $color-black;
            }

            li {
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
}

small {
    color: black;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    & a {
        color: black;
    }
}