@import './../../Styles/scss/Master';

.nav {
    height: 200px;
    background: $color-blue;
    color: $color-white;

    @include tablet {
        height: 150px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include tablet {
            flex-direction: row;
            padding: 0 24px;
        }
        @include laptop {
            padding: 0 180px;
        }
    }

    &__logo {
        width: 210px;
        margin: 10px auto 0;

        @include tablet {
            height: 110px;
            margin: 9px 10px 0;
        }
        @include laptop {
            margin: 9px 0 0;
        }
    }

    &__pages {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        align-items: center;
        margin-bottom: 25px;

        @include tablet {
            margin-bottom: 0;
            width: 450px;
        }

        &--links {
            font-family: $font-primary;
            margin: 0;
            font-size: 18px;
            background: $color-blue;
            border: none;
            color: $color-white;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            &:after {
                content: " ";
                width: 0px;
                height: 2px;
                position: absolute;
                background-color: #fff;
                left: 0;
                bottom: -3px;
                transition: .3s;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}