@import '../../Styles/scss/Master';

.nav {
    height: 145px;
    background: $color-blue;
    color: $color-white;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 180px 0;
        height: 100%;
    }

    &__logo {
        height: 110px;
        position: relative;
        top: 12px;
    }

    &__pages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        margin: 0;
        align-items: center;

        &__home, &__about, &__contact {
            font-family: $font-primary;
            margin: 0;
            font-size: 24px;
            background: $color-blue;
            border: none;
            color: $color-white;
        }
    }
}