@import '../../Styles/scss/Master';

.dashboard {
    margin: 0;
    width: 325px;
    height: 100vh;
    position: fixed;

    &__card {
        color: white;
        border-radius: 30px;
        background-color: $color-blue;
        margin: 40px 0 40px 34px;
        height: 90%;
        

        &__logo {
            width: 225px;
            height: 110px;
            margin: 24px 16px;
        }

        &__header {
            margin: 0 0 30px 24px
        }

        &__profileContainer {
            margin: 0;
            display: flex;
            flex-direction: column;

            h2 {
                margin: 0 0 8px 24px;
            }

            &__item {
                margin: 3px 0;
                padding-left: 24px;
            }
        }

        &__title {
            margin: 24px 0 8px 24px;
        }

        &__list {
            list-style: none;

            &__items { 
                margin: 0;
                height: 25px;
                padding: 3px 0 0 24px;
            }
        }

        &__watchlist {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.dashboardAlign {
    width: 100%;
}

#selectedGraph {
    background: $color-grey;
    color: $color-black;
}

.dashboard__card__list__items:hover {
    background: $color-grey;
    color: $color-black;
    transition: 0.3s;
}

.loadingImage {
    height: 423px;
    padding: 40px 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.dashboard__card__profileContainer__items:hover {
    background: $color-grey;
    color: $color-black;
    transition: 0.3s;
}