@import '../../Styles/scss/Master';

.dashboard {
    margin: 0;
    background-color: $color-grey;
    width: 20vw;
    height: 1250px;
    color: white;

    &__logo {
        width: 100%;
        height: 250px;
        top: -30px;
    }

    &__header {
        margin: 0 0 40px 24px
    }

    &__sectionContainer {
        margin-bottom: 24px;
    }

    &__title {
        margin: 0 0 0 24px;
    }

    &__list {
        list-style: none;

        &__items { 
            margin-bottom: 8px;
        }
    }
}

.btnList {
    display: flex;
    flex-direction: column;

    &__btn {
        font-family: $font-primary;
        color: $color-white;
        background-color: $color-grey;
        border: none;
        font-size: 16px;
        text-align: left;
    }
}