@import '../../Styles/scss/Master';

.dashboard {
    margin: 0;
    background-color: $color-blue;
    width: 20vw;
    height: 1250px;
    color: white;
    border-radius: 0 40px 40px 0;

    &__logo {
        width: 205px;
        height: 125px;
        margin: 10px 0 40px 40px;
        display: flex;
        justify-content: center;
    }

    &__header {
        margin: 0 0 40px 24px
    }

    &__sectionContainer {
        margin-bottom: 24px;
    }

    &__title {
        margin: 0 0 0 24px;
    }

    &__list {
        list-style: none;

        &__items { 
            margin-bottom: 8px;
            height: 25px;
            padding: 3px 0 0 10px;
        }
    }
}

#selectedGraph {
    background: #e6e6e6;
    color: $color-black;
    border-radius: 50px 0 0 50px;
}

.dashboard__list__items:hover {
    background: #e6e6e6;
    color: $color-black;
    border-radius: 50px 0 0 50px;
}