@import '../../Styles/scss/Master';

.dashboard {
    margin: 0;
    background-color: $color-blue;
    width: 15%;
    height: 1250px;
    color: white;
    border-radius: 0 40px 40px 0;

    &__logo {
        width: 150px;
        height: 125px;
        margin: 10px 0 40px 40px;
        display: flex;
        justify-content: center;
    }

    &__header {
        margin: 0 0 40px 24px
    }

    &__sectionContainer {
        margin-bottom: 24px;
    }

    &__title {
        margin: 0 0 0 24px;
    }

    &__list {
        list-style: none;

        &__items { 
            margin-bottom: 8px;
            height: 25px;
            padding: 3px 0 0 10px;
        }
    }

    &__watchlist {
        display: flex;
        flex-direction: column;
        padding: 3px 0 0 10px;
        margin: 15px 0 0 30px;
    }
}

.emptyHeader {
    height: 145px;
    padding-top: 60px;
}

.dashboardBody {
    width: 85%;
}

#selectedGraph {
    background: #fafafa;
    color: $color-black;
    border-radius: 50px 0 0 50px;
}

.dashboard__list__items:hover {
    background: #fafafa;
    color: $color-black;
    border-radius: 50px 0 0 50px;
    transition: 0.3s;
}

.loadingImage {
    height: 423px;
    padding: 40px 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}