@import '../../Styles/scss/Master';

.itemSearch{
    padding: 60px 24px 0;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__header {
        font-size: 34px;
    }

    &__searchContainer {
        height: 40px;
        display: flex;

        &__search {
            height: 40px;
            width: 260px;
            background-image: url('../../Assets/Images/Icon-search.svg');
            background-position: 14px 9px;
            background-repeat: no-repeat;
            padding: 0 0 0 45px;
            border-radius: 20px;
            margin-right: 16px;
            border: 1px solid $color-blue;
        }

        &__btn {
            height: 40px;
            width: 120px;
            font-family: $font-primary;
            font-size: 18px;
            color: white;
            border: none;
            padding: 0;
            background-color: $color-blue;
            border-radius: 20px;
        }
    }
}