@import '../../Styles/scss/Master';

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 125px;

    &__btn {
        width: 185px;   
        height: 50px;
        background: $color-blue;
        color: white;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        border: 1px solid $color-blue; 
        padding-top: 13px;
    }
}

.btnHover:hover {
    background: rgba(255, 255, 255, .3);
    border: 1px solid $color-blue; 
    color: $color-black;
    transition: .3s;
}
