// Fonts
@font-face {
    font-family: "Warcraft";
    src:    url('../../Assets/Fonts/LifeCraft_Font.ttf') format('opentype'),
}

@font-face {
    font-family: "Ubuntu";
    src:    url('../../Assets/Fonts/Ubuntu-Regular.ttf') format('opentype'),
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src:    url('../../Assets/Fonts/Roboto-Medium.ttf') format('opentype'),
}

// Colors
$font-primary: 'Roboto', sans-serif;
$font-warcraft: "Warcraft";

$color-black: #323232;
$color-white: #FFF;
$color-blue: #0041D1;
$color-grey: #eeeeee;

// Global Styles
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    font-family: $font-primary;
    margin: 0;
}
