// Fonts
@font-face {
    font-family: "Warcraft";
    src:    url('../../Assets/Fonts/LifeCraft_Font.ttf') format('opentype'),
}

@font-face {
    font-family: "Ubuntu";
    src:    url('../../Assets/Fonts/Ubuntu-Regular.ttf') format('opentype'),
}

// Colors
$font-primary: "Ubuntu", "sans-serif";
$font-warcraft: "Warcraft";

$color-black: #323232;
$color-white: #FFF;
$color-grey: #2e2e2e;

// Global Styles
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    font-family: $font-primary;
    margin: 0;
}

