@import '../../Styles/scss/Master';

.graphInfo {    
    padding: 0 24px 0;
    display: flex;
    justify-content: space-between;

    &__card {
        width: 250px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
        padding: 10px 20px;
        background: white;

        &__title {
            font-size: 18px;
            margin: 0 0 16px 0;
        }

        &__units {
            font-size: 16px;
            margin: 0;
        }
    }
}

.infoTitle {
    margin-left: 24px
}

.graphInfo__card:hover{
    background-color: #2d75e0;
    color: white;
    transition: 0.3s;
}