@import '../../Styles/scss/Master';

.graphBanner {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: flex-end;

    a {
        text-decoration: none;
        color: $color-black;
    }
}

.graphInfo {    
    padding: 0 0 30px;
    display: flex;
    justify-content: space-between;

    &__card {
        width: 250px;
        border-radius: 10px;
        padding: 10px 20px;
        background: white;

        &__title {
            font-size: 18px;
            margin: 0 0 16px 0;
        }

        &__units {
            font-size: 16px;
            margin: 0;
        }
    }
}

.graphInfo__card:hover{
    background-color: #2d75e0;
    color: white;
    transition: 0.3s;
}