@import '../../Styles/scss/Master';

.graphInfo {    
    width: 80vw;
    padding: 40px 24px 0;
    display: flex;
    justify-content: space-between;

    &__card {
        width: 250px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
        padding: 10px 20px;
        background: white;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }
    }
}

.graphInfo__card:hover{
    background-color: #696969;
    color: white;
}